<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/BookShop.WebApp.styles.css" asp-append-version="true" />

<div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">

    <a id="account" name="account" class="btn btn-primary my-btn form-control"  asp-controller="Account" asp-action="ManageIndex">Account</a>
    <a id="passwordchange" name="passwordchange" class="btn btn-primary my-btn form-control" asp-controller="Account" asp-action="ChangePasswordPage">Change password</a>
    <a id="loginchange" name="loginchange" class="btn btn-primary my-btn form-control" asp-controller="Account" asp-action="ChangeLoginPage">Change user/login name</a>
    <a class="btn btn-primary my-btn form-control" asp-controller="Account" asp-action="ChangeEmailPage">Change email</a>
    <a class="btn btn-danger my-btn form-control" asp-controller="Account" asp-action="DeleteAccountPage">Delete Account</a>
    <br />
    <a class="btn btn-primary my-btn form-control" asp-controller="Home" asp-action="Orders">Orders History</a>
    <a class="btn btn-primary my-btn form-control" asp-controller="Home" asp-action="Bucket">Shopping Bucket</a>
</div>
