@using Microsoft.Extensions.Caching.Memory
@{
    ViewData["Title"] = "Change Email";
}

@model ViewModel
@inject IMemoryCache _userCache
<body id="emailchangepage">
    <div class="account">

        <partial name="/Views/Shared/_AccountPartial.cshtml" />

        <div class="account-data">
            <form asp-controller="Account" asp-action="ChangeEmail" method="post" class="input-form">
                <h3 class="form-header">Change account email:</h3>
                @if (Model is not null && !string.IsNullOrWhiteSpace(Model.ErrorView.AdditionalMessage))
                {
                    <p class="text-danger">@Model!.ErrorView.AdditionalMessage</p>
                }
                @if (Model is not null && !string.IsNullOrWhiteSpace(Model.AccountView.RegistrationMessage))
                {
                    <p class="">@Model.AccountView.RegistrationMessage</p>
                }
                <p>
                    <b>Account email:</b>
                    @if (_userCache.TryGetValue("userToken", out (string token, string expiry, string userName, string email) userCache) &&
                    !string.IsNullOrWhiteSpace(userCache.userName))
                    {
                        @userCache.email
                    }
                </p>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">New email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your new account email" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="confirmEmail" class="form-label">Confirm email</label>
                    <input type="email" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="Confirm your email" required>
                </div>

                <button type="submit" class="btn btn-primary my-btn form-control">Change</button>

            </form>
        </div>
    </div>
</body>