@{
    ViewData["Title"] = "Change Password";
}
@model ViewModel

<body id="passwordchangepage">

    <div class="account">

        <partial name="/Views/Shared/_AccountPartial.cshtml" />

        <div class="account-data">
            <form asp-controller="Account" asp-action="ChangePassword" method="post" class="input-form">
                <h3 class="form-header">Update Password:</h3>
                <div class="input-group-text">
                    @if (Model is not null && !string.IsNullOrWhiteSpace(Model.ErrorView.AdditionalMessage))
                    {
                        <p class="text-danger form-center-text">@Model!.ErrorView.AdditionalMessage</p>
                    }
                   
                    <div class="form-group">
                        <input class="form-control" id="currentPassword" name="currentPassword" type="password" placeholder="Enter your current password" required
                        />
                    </div>

                    <div class="form-group">
                        <input class="form-control" id="newPassword" name="newPassword" type="password" placeholder="Enter your new password" required />
                        <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Enter your new confirmation password" required />
                    </div>

                    <button class="btn btn-primary my-btn form-control" type="submit">Change</button>
                </div>
            </form>
        </div>
    </div>

    

</body>