@using Microsoft.Extensions.Caching.Memory
@{
    ViewData["Title"] = "Change Email";
}

@model ViewModel
@inject IMemoryCache _userCache
<body id="emailchangepage">
    <div class="account">

        <partial name="/Views/Shared/_AccountPartial.cshtml" />

        <div class="account-data">
            <form asp-controller="Account" asp-action="ChangeEmail" method="post" class="input-form">
                <h3 class="form-header">Change account email:</h3>
                <div class="input-group-text">
                    @if (Model is not null && !string.IsNullOrWhiteSpace(Model.ErrorView.AdditionalMessage))
                    {
                        <p class="text-danger form-center-text">@Model!.ErrorView.AdditionalMessage</p>
                    }

                    <div class="form-group">
                        <p>
                            <b>Account email:</b>
                            @if (_userCache.TryGetValue("userToken", out (string token, string expiry, string userName, string email) userCache) &&
                            !string.IsNullOrWhiteSpace(userCache.userName))
                            {
                                @userCache.email
                            }
                        </p>
                        <input class="form-control" id="password" name="password" type="password" placeholder="Enter your current account password" required />

                        <input class="form-control" id="email" name="email" type="email" placeholder="Enter your new account email" required />
                        <input class="form-control" id="confirmEmail" name="confirmEmail" type="email" placeholder="Enter your new account email" required />
                    </div>

                    <button class="btn btn-primary my-btn form-control" type="submit">Change</button>
                </div>
            </form>
        </div>
    </div>
</body>