@{
    ViewData["Title"] = "Account";
}
@model ViewModel
<body id="accountpage">
    <div class="account">

        <partial name="/Views/Shared/_AccountPartial.cshtml" />

        <div class="account-data">
            <h1>Welcome back, @Model.AccountView.UserName.</h1>

            <h3>Your account data:</h3>

            <h5>Login:</h5> <p>@Model.AccountView.UserName</p>
            <h5>Email:</h5> <span>@Model.AccountView.Email</span>
        </div>
    </div>
</body>