@{
    ViewData["Title"] = "Resend Confirm Link";
}
@model ViewModel


<body id="registerpage">

    <form asp-controller="Account" asp-action="ResendEmailConfirmation" method="post" class="input-form">
        <h3 class="form-header">Please confirm your account:</h3>

        <div class="mb-3">
            @if (Model is not null && !string.IsNullOrWhiteSpace(Model.ErrorView.AdditionalMessage))
            {
                <p class="text-danger">@Model!.ErrorView.AdditionalMessage</p>
            }
            @if (Model is not null && !string.IsNullOrWhiteSpace(Model.AccountView.RegistrationMessage))
            {
                <p class="">@Model.AccountView.RegistrationMessage</p>
            }
        </div>

        <p>Didn't receive the email?<br />You can resend it using the form below or contact the support team for assistance</p>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email for registration" aria-describedby="emailHelp">
        </div>
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>

        <button type="submit" class="btn btn-primary my-btn form-control">Resend Confirmation Email Link</button>
    </form>
</body>
